
:root {
    --dark-blue: #1a1e26;
    --text-color: #e0e6f3;
    --highlight-color: #ffffff;
    --link-color: #8c95a5;
    --card-background: rgba(255,255,255,0.95);
}
/*.glassmorphic{*/
/*    background: rgba(255, 255, 255, 0.1); !* semi-transparent white *!*/
/*    backdrop-filter: blur(10px);          !* frosted glass blur *!*/
/*    -webkit-backdrop-filter: blur(10px);  !* safari support *!*/
/*    border-radius: 20px;                  !* rounded corners *!*/
/*    border: 1px solid rgba(255, 255, 255, 0.2); !* subtle white border *!*/
/*    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); !* soft shadow *!*/
/*    padding: 20px;*/
/*    color: white; !* text stays visible *!*/
/*}*/

.section_parts{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: 400% 400%;
    /*animation: gradientMove 12s ease infinite;*/
}

#work_section{
    background-color:  #1a1e26;
}
#hero{
    /*background: linear-gradient(135deg, #00695c, #004d40, #002f2f);*/
    background-color:#1a1e26;
}
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.rotate_word_animation {
    position: absolute;
    top: 300px;
    left: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
}



.rotate_word_animation h2 {

    display: inline-block;
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.rotator {
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 50px;
}

.rotator span {
    display: block;
    font-size: 50px;
    animation: word_rotate 4s linear infinite ;
    line-height: 50px;
    color: #fff;
}
.rotator span::first-letter{
    color:red;
}

@keyframes word_rotate {
    0% { transform: translateY(0); }
    33.33% { transform: translateY(-50px); }
    66.66% { transform: translateY(-100px); }
    100% {
        transform: translateY(-109px);
    }
}



#name{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    width: fit-content;
    height: fit-content;
}

#name h1{
    font-size: 4vw;
    padding: 30px 10px 10px 30px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: "JetBrains Mono", monospace;
}


.nav-cards a>span{
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    vertical-align: middle;
}
.nav-cards a div div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

/*span text inside overlay*/
.nav-cards a div div span{
    display: block;
    font-family: "JetBrains Mono", monospace;
    font-size: 25px;
    animation: moveUp 2s linear infinite alternate;
    margin: 10px 0;
    color: white;

}
@keyframes moveUp {
    0% {
        transform: translateY(20%);

    }
    100% {
        transform: translateY(-100%);

    }
}

#name p{
    font-size: 1.2vw;
    padding: 7px 0 10px 35px;
    margin-top: 0;
    font-family: "Rock Salt", cursive;
}

.card {
    position: absolute;
    background: #eee;
    padding: 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent;
}


.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.card:hover .overlay{
    transform: scale(1) rotate(0) translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.overlay {
    transform: scale(1.2) rotate(8deg) translateY(-15px);
}


#about_card {
    top: 7.5vh;
    right: 4.2vw;
    width: 10.4vw;
    height: 53.3vh;
}

#about_card_overlay{
    position: absolute;
    width: 120px;
    height: 120px;
    background: gray;
    right: -30px;
    bottom: 30px;
}
#about_span{
    padding: 40px 50px 10px 40px;
}


#work_card {
    top: 20.4vh;
    left: 49.5vw;
    width: 26vw;
    height: 40.3vh;
}

#work_card_overlay{
    position: absolute;
    width: 200px;
    height: 200px;
    background: gray;
    left: -75px;
    top: 50px;
}

#work_span{
    padding: 320px 50px 10px 320px;

    font-weight: bold;
}


#skills_card {
    bottom: 2.8vh;
    left: 2.6vw;
    width: 24vw;
    height: 32.4vh;
}

#skills_card_overlay{
    position: absolute;
    width: 200px;
    height: 200px;
    background: gray;
    right: -30px;
    top: 50px;
}


#gallery_card {
    bottom: 2.8vh;
    left: 33.3vw;
    width: 26vw;
    height: 16.7vh;
}

#gallery_card_overlay{
    position: absolute;
    width: 130px;
    height: 130px;
    background: gray;
    right: -30px;
    top: 50px;
}


#contact_card {
    bottom: 2.8vh;
    right: 4.2vw;
    width: 24vw;
    height: 14.8vh;
    display: flex;
    align-items: flex-end;  /* move text to bottom */
    justify-content: center;
}

#contact_card_overlay{
    position: absolute;
    width: 140px;
    height: 140px;
    background: gray;
    right: -30px;
    top: 30px;
}

#contact_span{
    padding-top: 96px;
}

.section_parts,
#work_section,
#projects_name {
    width: 100%;
}

html, body {
    overflow-x: hidden;
}

@media all and (max-width: 480px) {

    #hero {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #name {
        position: static;
        width: 100%;
        height: 20vh; /* 20% of viewport height instead of px */
    }

    #name h1 {
        font-size: 10vw;
    }

    #name p {
        font-size: 4vw;
    }

    #work_card_overlay,
    #about_card_overlay,
    #skills_card_overlay,
    #gallery_card_overlay,
    #contact_card_overlay {
        display: none;
    }


    .nav-cards {
        position: relative;
        display: grid;
        grid-template-columns: 46vw 46vw; /* 220px ≈ 46vw on 480px width screen */
        grid-template-rows: 46vw 46vw 46vw; /* same for height */
        width: 100%;
        height: 80vh; /* 80% of viewport height */
        gap: 2vw; /* 10px ≈ 2vw */
        margin: 3vw; /* 15px ≈ 3vw */
    }

    .card {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border-radius: 13px;
        z-index: 4;
    }

    #work_card {
        width: 46vw;
        height: 46vw;
    }

    #work_span {
        width: 0;
        height: 0;
        font-size: 6vw;
        padding: 0;
    }

    #skills_card {
        width: 46vw;
        height: 46vw;
    }

    #skills_card_overlay {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }

    #skill_span {
        width: 0;
        height: 0;
        font-size: 6vw;
        padding: 0;
    }

    #about_card {
        width: 46vw;
        height: 46vw;
    }

    #about_span {
        width: 0;
        height: 0;
        font-size: 6vw;
        padding: 0;
    }

    #contact_card {
        width: 94vw; /* 440px ≈ 92vw */
        height: 46vw;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #contact_span {
        width: 0;
        height: 0;
        font-size: 6vw;
        padding: 0;

    }

    #gallery_card {
        width: 46vw;
        height: 46vw;
    }

    #gallery_span {
        width: 0;
        height: 0;
        font-size: 6vw;
        padding: 0;
    }

    .overlay {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    .overlay {
        position: static;
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .rotate_word_animation {
        position: static;
        width: 0;
        height: 0;
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

}

/*} media query for the mobile divices*/

/*hero section css over here*/

#work_section {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-blue);
    color: var(--text-color);
    transition: background-color 0.5s ease;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 2500px;
    margin: 0 auto;
    padding: 2rem;
    gap: 2rem;
    position: relative;
    min-height: 100vh;
    align-items: center;
}


.projects-list {
    display: flex;
    flex-direction: column;
}
.project-item {
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.project-item:last-child {
    border-bottom: none;
}
.project-item h2 {
    margin: 0;
    font-size: 4rem;
    text-align: left;
    transition: color 0.3s ease;
}


.projects-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.projects-info span {
    font-size: 2.5rem;
    color: var(--link-color);
    white-space: nowrap;
    transition: color 0.3s ease;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.projects-info span:last-child {
    border-bottom: none;
}

.central-visuals {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.project-background-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.project-background-image.active {
    opacity: 1;
    visibility: visible;
}

.project-card {
    position: relative;
    background-color: var(--card-background);
    color: var(--dark-blue);
    padding: 2rem;
    border-radius: 12px;
    width: 80%;
    max-width: 500px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.project-card.visible {
    opacity: 1;
    visibility: visible;
}
.project-card h3 { margin: 0; font-size: 2rem; }


.project-item:hover h2,
.projects-info span:hover {
    color: var(--highlight-color);
}

#projects_name{
    width: 100%;
    height: 10vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#projects_name h3{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media all and (max-width:480px ) {

 .projects-info, .central-visuals, .project-card {
     display: none;
 }

    #work_section{
        width: 100%;
        height: auto;
    }
    .projects-list{

    }

 .container{
     display: flex;
     margin: 10px;
     padding: 2rem;
     gap: 2rem;
     position: relative;
     min-height: 100vh;
     align-items: center;
     justify-content: center;

 }

    .project-item {
        cursor: pointer;
        transition: color 0.3s ease;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .project-item h2 {
        margin: 0;
        font-size: 50px;
        text-align: left;
        transition: color 0.3s ease;
    }

}


